/* utility */

/* layout */

.hidden {
  height: 0 !important;
  min-height: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
  overflow: hidden;
  flex: 0;
}

.opaque {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fade.out {
  opacity: 0;
  transition: opacity 1640ms ease-in 0ms;
  pointer-events: none; /* users can click through fading element */
}

.fullsize {
  width: 100%;
  height: 100%;
}

.center-items {
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

/* style */

.big {
  font-size: 2em;
}

.bg-smooth {
  background-color: var(--color-dark, #333);
}

.bg-strong {
  background-color: var(--color-darkest, #222);
}

/* responsive */

.responsive-padding {
  /* mobile first */
  padding: 0 1em;
}

@media (min-width: 650px) {
  .responsive-padding {
    padding: 0 4em;
  }
}

@media (min-width: 950px) {
  .responsive-padding {
    padding: 0 7em;
  }
}
