
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark, #213547);
    background-color: var(--color-lightest, #ffffff);
  }
  a:hover {
    color: var(--color-interactive-light, #747bff);
  }

  .bg-smooth {
    background-color: var(--color-lighter, #fff5ee);
  }
  .bg-strong {
    background-color: var(--color-lightest, #fff);
  }
}
