/* animations */

/*
defines animations and transitions

!! transitions are important for layout
react waits for onTransitionEnd !!
*/

/* animations */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* transitions */

.fade.out {
  opacity: 0;
  transition: opacity 1640ms ease-in 0ms;
  pointer-events: none; /* users can click through fading element */
}
