.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

.application {
    flex: 1;
    display: flex;
    justify-content: stretch;
    position: relative;
    /* mobile first */
    flex-direction: column;
    min-height: 0;
}

hr {
    border: 1px solid var(--color-back, #222);
    width: 90%;
    margin: auto;
}

/*
.application > * {
    flex: 1;
    overflow-y: auto;
}
*/

.panel { /* from Panel component */
    flex: 1;
    overflow-y: auto;
    min-height: 150px;
    /*max-height: 250px;*/
    position: relative;
    outline: 2px solid var(--color-back, #222);
}

.view {
    flex: 1;
    position: relative;
}

.page {
    flex: 1;
    overflow-y: auto;
    /*outline: 2px solid var(--color-dark, #333);*/
    position: relative;
}

/* medium and widther screens */
@media (min-width: 650px) {
    .application {
        flex-direction: row-reverse;
    }

    .browser {
        min-width: 300px;
        max-width: 300px;
    }
}
