/* variables */
:root {
  --color-light: #fec;
  --color-lighter: #fff9f0;
  --color-lightest: #fff;
  --color-dark: #242424;
  --color-darkest: #1e1e1e;
  --color-primary: #944;
  --color-interactive-dark: #535bf2;
  --color-interactive-light: #747bff;

  /* media queries values */
  /* only for developper information (unusable in media queries) */
  --min-width-medium: 650px;
  --min-width-large: 950px;
}
