/* variables */
#root {
  --color-light: #fec;
  --color-lighter: #fff9f0;
  --color-lightest: #fff;
  --color-dark: #333338;
  --color-darkest: #222;
  --color-primary: #840;
  --color-interactive-dark: #f40;
  --color-interactive-light: #fc0;

  /* media queries values */
  /* only for developper information (unusable in media queries) */
  --min-width-medium: 650px;
  --min-width-large: 950px;
}
