header * {
    flex: 1;
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    _border-bottom: 2px solid var(--color-primary, #944);
}

.sitename {
    font-family: cursive;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--color-primary, #944);
}