header * {
    flex: 1;
    display: inline-block;
    color: var(--color-primary, #840);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    _border-bottom: 2px solid var(--color-primary, #944);
}
